---
name: Deploy

on:
  push:
    branches:
      - feat/lambda_deploy

env:
  AWS_DEFAULT_REGION: us-west-2

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Deploy S3 bucket
        run: |
          cd lambda/
          aws cloudformation deploy --stack-name academia-backend-bucket --template bucket.yml

      - name: Install API requirements
        run: |
          cd lambda/
          pip install -r requirements.txt -t ./bundle/
          cp -r app/* bundle/
          cd bundle && zip -rq ../bundle.zip *

      - name: Upload API to S3 Bucket
        run: |
          cd lambda/
          aws s3api put-object --bucket academia-backend-lambda --key 0.0.1.zip --body bundle.zip
